:host {
  font-size: 1rem;

  @media print {
    display: none;
  }
}

.mat-dialog-content {
  overflow: hidden scroll;
  margin-left: -14px;
}

.mat-form-field + .mat-form-field {
  margin-left: 1em;
}

.grid .mat-form-field {
  width: 100%;
  margin-left: 0;
}

input[type=file] {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: -100%;
  box-sizing: border-box;
  opacity: 0;
}

hr {
  margin: 1em -12px;
}
