<div *ngIf="invoiceData$ | async as invoiceData">
  <h1 class="mat-h1" style="text-align: center;">Invoice / Рахунок No. / № {{invoiceData.number}}</h1>
  <div class="grid grid-2">
    <ng-container *ngIf="invoiceData.place">
      <div><b>Date and Place:</b> {{invoiceData.date | date:'shortDate'}}, {{invoiceData.place.placeEn}}</div>
      <div><b>Дата та місце:</b> {{invoiceData.date | date:'dd.MM.y'}}, {{invoiceData.place.place}}</div>
    </ng-container>

    <ng-container *ngIf="invoiceData.supplier">
      <div>
        <p><b>Supplier:</b> {{invoiceData.supplier.nameEn}}</p>
        <p>Address: {{invoiceData.supplier.addressEn}}</p>
        <p *ngIf="invoiceData.supplier.itn">Individual Tax Number: {{invoiceData.supplier.itn}}</p>
      </div>
      <div>
        <p><b>Виконавець:</b> {{invoiceData.supplier.name}}</p>
        <p>Адреса: {{invoiceData.supplier.address}}</p>
        <p *ngIf="invoiceData.supplier.itn">ІПН: {{invoiceData.supplier.itn}}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="invoiceData.customer && invoiceData.customer.customer">
      <div>
        <p><b>Customer:</b> {{invoiceData.customer.customer}}</p>
        <p *ngIf="invoiceData.customer.customerAddress1">{{invoiceData.customer.customerAddress1}}</p>
        <p *ngIf="invoiceData.customer.customerAddress2">{{invoiceData.customer.customerAddress2}}</p>
        <p *ngIf="invoiceData.customer.customerCountry">{{invoiceData.customer.customerCountry}}</p>
      </div>
      <div>
        <p><b>Замовник:</b> {{invoiceData.customer.customer}}</p>
        <p *ngIf="invoiceData.customer.customerAddress1">{{invoiceData.customer.customerAddress1}}</p>
        <p *ngIf="invoiceData.customer.customerAddress2">{{invoiceData.customer.customerAddress2}}</p>
        <p *ngIf="invoiceData.customer.customerCountry">{{invoiceData.customer.customerCountry}}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="invoiceData.subjectMatter">
      <div><b>Subject matter:</b> {{invoiceData.subjectMatter.subjectMatterEn}}</div>
      <div><b>Предмет:</b> {{invoiceData.subjectMatter.subjectMatter}}</div>
    </ng-container>

    <div><b>Currency:</b> USD</div>
    <div><b>Валюта:</b> Долар США</div>

    <ng-container *ngIf="total$ | async as total">
      <div><b>Price (amount) of the services:</b> {{total | number:'1.2-2'}}</div>
      <div><b>Ціна (загальна вартість) послуг:</b> {{total | number:'1.2-2':'uk_UA'}}</div>
    </ng-container>

    <div *ngIf="invoiceData.supplier">
      <p><b>Terms of payments and acceptation:</b></p>
      <div *ngIf="invoiceData.subjectMatter">
        Payment for {{invoiceData.subjectMatter.subjectMatterEn}} as per invoice No{{invoiceData.number | replace:'-':' '}}
        from {{invoiceData.date | date:'yMMdd'}}
        <ng-container *ngIf="invoiceData.contract && invoiceData.contract.contract && invoiceData.contract.contractDate">
          according to Contract No{{invoiceData.contract.contract | replace:'-':' '}} from {{invoiceData.contract.contractDate | date:'yMMdd'}}
        </ng-container>
      </div>
    </div>
    <div *ngIf="invoiceData.beneficiary">
      <p><b>Beneficiary:</b></p>
      <p>IBAN: {{invoiceData.beneficiary.iban}}</p>
      <p>Receiver: {{invoiceData.beneficiary.receiver}}</p>
      <p><b>Account with Institution:</b></p>
      <p>Bank: {{invoiceData.beneficiary.bank}}</p>
      <p>Swift code: {{invoiceData.beneficiary.swiftCode}}</p>
      <p>City: {{invoiceData.beneficiary.bankCity}}</p>
      <ng-container
          *ngIf="invoiceData.beneficiary.intermediaryBank && invoiceData.beneficiary.intermediaryBankAccountNumber && invoiceData.beneficiary.intermediaryBankSwiftCode && invoiceData.beneficiary.intermediaryBankCity">
        <p><b>Intermediary:</b></p>
        <p>Bank: {{invoiceData.beneficiary.intermediaryBank}}</p>
        <p>Account Number: {{invoiceData.beneficiary.intermediaryBankAccountNumber}}</p>
        <p>Swift code: {{invoiceData.beneficiary.intermediaryBankSwiftCode}}</p>
        <p>City: {{invoiceData.beneficiary.intermediaryBankCity}}</p>
      </ng-container>
    </div>
  </div>
  <table *ngIf="total$ | async as total">
    <thead>
      <tr>
        <th>No. /<br>№</th>
        <th>Description / Опис</th>
        <th>Quantity /<br>Кількість<br><small>(hour / час)</small></th>
        <th>Price / Ціна<br><small>(USD)</small></th>
        <th>Amount /<br>Загальна вартість<br><small>(USD)</small></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services$ | async; index as i">
        <td style="text-align: center;">{{i + 1}}</td>
        <td style="text-align: left;">{{service.descriptionEn}}
          <ng-container *ngIf="service.appendPeriod">, {{invoiceData.periodStart | date:'LLLL y'}}</ng-container>
          / <br>
          {{service.description}}
          <ng-container *ngIf="service.appendPeriod">, {{invoiceData.periodStart | date:'dd.MM.y'}}
            &boxh; {{invoiceData.periodEnd | date:'dd.MM.y'}}</ng-container>
        </td>
        <td>{{service.quantity | number:'1.2-2'}}</td>
        <td>{{service.price | number:'1.2-2'}}</td>
        <td>{{service.amount | number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="4">Subtotal / Загалом</td>
        <td>{{subTotal$ | async | number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="4">Tax / Налог ({{invoiceData.tax}}%)</td>
        <td>{{tax$ | async | number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="4">Total / Усього</td>
        <td>{{total | number:'1.2-2'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <table>
            <tbody>
              <tr>
                <td>Total to pay /<br>Усього до сплати</td>
                <td>{{total | numberInWords}}<br>{{total | numberInWords:'uk_UA'}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tfoot>
  </table>
  <p><small>All charges of correspondent banks are at the Supplier’s expenses. /<br>
    Усі комісії банків-кореспондентів сплачує виконавець.</small></p>
  <p><small>Payment hereof at the same time is the evidence of the work performance and the service delivery, acceptation thereof in full scope and the
    confirmation of final mutual installments between Parties. /<br>
    Оплата згідно цього Інвойсу одночасно є свідченням виконання робіт, надання послуг, їх прийняття в повному обсязі, а також підтвердженням кінцевих
    розрахунків між Сторонами.</small></p>
  <p><small>The Parties shall not be liable for non-performance or improper performance of the obligations under the agreement during the termof insuperable
    force circumstances. /<br>
    Сторони звільняються від відповідальності за невиконання чи неналежне виконання зобов’язань за договором на час дії форс-мажорних обставин.</small></p>
  <p><small>Payment according hereto shall be also the confirmation that Parties have no claims to each other and have no intention to submit any claims. /<br>
    Оплата згідно цього Інвойсу є підтвердженням того, що Сторони не мають взаємних претензій та не мають наміру направляти рекламації.</small></p>
  <p><small>Any disputes arising out of the agreement between the Parties shall be settled by the competent court at the location of a defendant. /<br>
    Всі спори, що виникнуть між Сторонами по угоді будуть розглядатись компетентним судом за місцезнаходження відповідача.</small></p>
  <div *ngIf="invoiceData.supplier" class="signature">
    <span>Supplier / Виконавець</span>
    <img *ngIf="invoiceData.supplier.signatureImage" alt="" [src]="invoiceData.supplier.signatureImage" class="signature">
    <span>{{invoiceData.supplier.nameEn}} / {{invoiceData.supplier.name}}</span>
  </div>
</div>
<params></params>
