@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: 0 none;
}

.grid {
  display: grid;
  grid-gap: 1em;

  &.grid-1 {
    grid-template-columns: 1fr;
  }

  &.grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.grid-5 {
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr 0.5fr;
  }
}

$invoice-typography: mat.define-typography-config(
    $body-1: mat.define-typography-level(14px, 15px, 400),
    $headline: mat.define-typography-level(14px, 20px, 400),
);

@include mat.core($invoice-typography);

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$theme: mat.define-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
    )
));

@include mat.all-component-themes($theme);
